/* Global variables */
:root {
	/* Colors */
  --grey-100: #FFFFFF;
	--grey-200: #EDEDEE;
	--grey-300: #D7D7D7;
	--grey-400: #AAA8B2;
	--grey-500: #6C6B72;
	--grey-600: #47464E;
	--grey-700: #18171B;
  --link-color: rgb(0 0 255);

  /* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
	--font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'Public Sans', var(--font-system);
	--font-brand: Rubik, var(--font-system);

  /* Sapcing */
  --spacing: 8px;
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing) * 3);

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;

}

html,
body {
  min-height: 100%;
  margin-top: 8px;
	background-color: var(--grey-100);
	color: var(--grey-700);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
  margin-left: 16px;
  margin-right: 8px;
}

footer {
  margin-top: 80px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 600;
	color: var(--gray-100);
  margin-right: 40px;
}

h1 {
	font-size: var(--text-2xl);
  margin-top: 80px;
  margin-bottom: 16px;
}

h2 {
	font-size: var(--text-xl);
  margin-bottom: 64px;
}

h3 {
	font-size: var(--text-lg);
  margin-top: 32px;
  margin-bottom: 8px;
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

p {
  font-size: var(--text-sm);
}

li {
  font-size: var(--text-base);
}

@media (min-width:768px) {
  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }
}

@media (min-width:1024px) {
}

@media (min-width:1280px) {
  h2 {
    font-size: var(--text-4xl);
  }
}
