---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout>
  <h1>I'm a Product Designer with a strong background in Visual Design. I believe in designing products that have a real impact on people's lives. If we can make a positive impact, why shouldn't we?</h1>
</BaseLayout>
