---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Projects";
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <div class="container">
    <img src="/assets/img/apresentação.png" alt="">
    <img src="/assets/img/Thumbnail.png" alt="">
    <img src="/assets/img/589e1d71855625.5bd330e58ee68.jpg" alt="">
    <img src="/assets/img/90a49771851891.5bd318087b939.jpg" alt="">
  </div>
</BaseLayout>

<style>
  .container {
   width: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
    padding: 5px;
  }

  @media (min-width:768px) {
    .container {
    position: relative;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,300px));
    column-gap: 1rem;
    row-gap: 1rem;
  }
    img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    justify-content: center;
  }
  }

  @media (min-width:1024px) {
    
  }

  @media (min-width:1280px) {
    .container {
      column-gap: 4rem;
    }
  }

</style>



  <ul>
    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>