---
---

<div class="hamburger" onclick="toggleNav()">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger {
    cursor: pointer;
    position: relative;
    width: 1.7rem;
    height: 1.7rem;
  }

  .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--grey-700);
    transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease, bottom 0.3s ease;
  }

  .line:nth-child(1) {
    top: 0.35rem; 
  }

  .line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .line:nth-child(3) {
    bottom: 0.35rem; 
  }

  .hamburger.open .line:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .line:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  @media screen and (min-width: 636px) {
    .hamburger {
      display: none;
    }
  }
</style>

<script>
  function toggleNav() {
    const navLinks = document.querySelector('.nav-links');
    const hamburger = document.querySelector('.hamburger');
    if (navLinks && hamburger) {
      navLinks.classList.toggle('expanded');
      hamburger.classList.toggle('open');
    }
  }
  
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('.hamburger').addEventListener('click', toggleNav);
  });
</script>