---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<div class="navbar">
    <Hamburger />
    <Navigation />
</div>

<style>
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }
</style>

